{
  "plugins": ["prettier", "flowtype", "react", "import"],
  "settings": {
    "import/parser": "babel-eslint",
    "react": {
      "version": "15.5"
    }
  },
  "rules": {
    "strict": 0,
    "quotes": 0,
    "camelcase": 0,
    "eqeqeq": 2,
    "no-unused-vars": 2,
    "prettier/prettier": "error",
    "no-console": 0,
    "react/prop-types": 0,
    "react/jsx-uses-vars": 2,
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Map",
          "List",
          "Set",
          "JumpToAction",
          "TabsReducer",
          "StackReducer",
          "RadarVariable",
          "RadarSet",
          "RadarData",
          "Record"
        ]
      }
    ],
    "react/jsx-uses-react": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-key": 1,
    "react/jsx-pascal-case": 2,
    "react/sort-comp": 2,
    "react/no-deprecated": 2,
    "react/no-unknown-property": 2,
    "react/jsx-boolean-value": 1,
    "import/no-unresolved": 2,
    "import/imports-first": 2,
    "import/no-duplicates": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/export": 2,
    "import/no-named-as-default": 2,
    "no-global-assign": ["error", {"exceptions": ["__webpack_public_path__"]}]
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:flowtype/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  }
}
